.navbar{
    background-color: black;
    display:grid;
    padding: 0;
    grid-template-columns: 5fr 1fr;
    color: white;
    position: sticky;
    top: 0;
}

.navbar > div{
    padding: 0 0vmax;
    display: flex ;
    align-items: center;
 }

 .navbar > div >span{
    color: rgba(180, 180, 180, 0.644);
    font-size: 1vmax;
    font-weight: 300;
}
/*
.navbar > div svg{
    fill: rgb(180, 180, 180);
}

.navbar > div svg:hover{
    fill: rgb(255, 255, 255);
}
*/

.navbar > div > a{

    color: white;
    font-size: 1.4vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin: 1vmax;
    text-decoration: none;
}

.navbar > div > a:hover{
    color: rgb(219, 112, 112);
}

.maindiv{
    display: grid;
    padding: 0 0vmax;
}
.firstdiv{
    background-color: white;

}
.maindiv > div > marquee > h1{
    display: flex;
    flex: content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    color: rgb(41, 132, 202);
    font-weight: 100;
    font-size: 3.5vmax;
}
.profile{
    background-color: aquamarine;
    text-align: center;
    float: left;
}
.groups {
    justify-content: right;
    margin-right: 20px;
}


